<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VideoCDN</title>
    <link rel="icon" href="/img/logo.png">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/zui/1.9.2/css/zui.min.css">
    <!-- DP 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.css">
</head>
<body>
<div class="container" style="width: 20%;border: aquamarine solid 1px;float: left">
    <div class="input-group">
        <input id="key-input" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn"><button class="btn btn-default" id="key-bt" type="button" onclick="list()">搜索</button></span>
    </div>
    <ul class="list-group" id="video-list">
    </ul>
</div>
<div class="container">
    <div class="container">
        <p class="content">欢迎使用VideoCDN加速服务</p>
    </div>
    <div class="container-fixed-md">
        <div class="input-group">
            <input id="video-input" type="text" class="form-control" placeholder="请输入M3U8 url地址">
            <span class="input-group-btn"><button class="btn btn-default" id="video-bt" type="button">加速播放</button></span>
        </div>
        <hr>
        <div id="dplayer"></div>
    </div>
</div>

</body>
<!-- ZUI Javascript 依赖 jQuery -->
<script src="https://cdn.bootcss.com/zui/1.9.2/lib/jquery/jquery.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/zui/1.9.2/js/zui.min.js"></script>
<!-- HLS 标准版压缩后的 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/hls.js/1.0.11/hls.min.js"></script>
<!-- DP 标准版压缩后的 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/dplayer/1.26.0/DPlayer.min.js"></script>
<script>
    let dp;
    function initDP(){
         dp = new DPlayer({
            container: document.getElementById('dplayer'),
            theme: '#eee',
            lang: 'zh-cn',
            screenshot: true,
            preload: 'auto',
            volume: 0.1,
            mutex: true,
            video: {
                url: '',
                type: 'hls',
            }
        });
    }
    $("#video-bt").click(function () {
       play($("#video-input").val())
    })
    function play(url){
        console.log("play",url)
        dp.destroy();
        initDP();
        new $.zui.Messager('播放地址转换中', {
            icon: 'bell' // 定义消息图标
        }).show();
        dp.pause()
        $.get("https://gpgo.site/get_new?url=" +url , function (data) {
            if (data.err === "") {
                dp.switchVideo({
                    url: data.url,
                    type: 'hls',
                })
                dp.play()
            } else {
                new $.zui.Messager(data.err, {
                    icon: 'bell' // 定义消息图标
                }).show();
                console.log(data.err)
            }
        });
    }
    $(function(){
        let pg=Math.floor(Math.random()*2801)+1;
        $.get("https://gpgo.site/video/list?page="+pg,function (data) {
            $("#video-list").empty()
            for (let i = 0; i < data.list.list.length; i++) {
                $("#video-list").append('<li class="list-group-item btn-link" onClick="info('+data.list.list[i].vod_id+')">'+data.list.list[i].vod_name+'</li>')
            }
        })
        initDP()
    });
    function info(id){
        $.get("https://gpgo.site/video/info?id="+id,function (data) {
             $("#video-list").empty()
             for (let i = 0; i < data.info.list[0].ji.length; i++) {
                 console.log()
                 $("#video-list").append('<li class="list-group-item btn-link" val="'+data.info.list[0].ji[i]+'" onClick="plj(this)">'+(i+1)+'</li>')
             }
        })

    }
    function list(){
        $.get("https://gpgo.site/video/list?key="+$("#key-input").val(),function (data) {
             $("#video-list").empty()
            for (let i = 0; i < data.list.list.length; i++) {
                $("#video-list").append('<li class="list-group-item btn-link" onClick="info('+data.list.list[i].vod_id+')">'+data.list.list[i].vod_name+'</li>')
            }
        })
    }
    function plj(e){
        play($(e).attr("val"))
    }

</script>
</html>
